.logo_anim {
  animation: rotate 2s linear infinite;
  transform-origin: 47% 53%;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

//.login-back-image {
//  width: 100vw;
//  height: 100vh;
//  background: url("/assets/login_back_2.jpg") no-repeat left;
//  background-size: cover;
//}

.login-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  //backdrop-filter: blur(3px) brightness(60%);
  backdrop-filter: blur(2px) brightness(80%);
  //filter: blur(2px);
}
